extends ../layout
block content
  button.add-field Add Field
  form.create-model(method="post", action="/administration/models/create")
    .fields
      input(type="text", name="name")
      br
      br
      | key
      input(type="text", class="key" name="0", id="0")
      br
      br
      | value
      input(type="text", name="0", id="value_0")
      br    
    input(type="submit", value="submit")

  script.
    var i = 0;
    var v = 1;
    $(".add-field").click( function() {
      i ++;
      v ++;
      $(".fields").append(
        '<br/><br />key<input type="text" name="' + i +'" class="key" id="' + i +'"><br /><br />value<input type="text" name="' + i + '" class="value" id="value_' + i + '">'
      );
    });

    $(".key").change( function() {
      var id = $(this).attr("id");
      var value = $(this).val();
      console.log(id);
      console.log(value);
      $("#value_" + id).attr("name", value);
    });